@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    background-color: darken(v.$grisClaro, 3%);
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    padding:0;
    list-style: none;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 1.4rem;
    height: 1rem;
    background: #c7c7c7;
}
  
*::-webkit-scrollbar-track:hover {
    background: #c1c5c9;
}

*::-webkit-scrollbar-track:active {
    background: #c1c5c9;
}

*::-webkit-scrollbar-thumb {
    background-color: #8b9096;
    border: .3rem solid #8b9096;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #495057;
    border-color: #495057;
}